<%-include("partials/header");%>

  <h1>Bienvenido a mi página web</h1>
  <h2><a href="/notas">Ir a notas</a></h2>
  <h2><a href="/ejemplo">Ir a ejemplos</a></h2> 

<%-include("partials/footer");%>