<%-include("partials/header", {tituloWeb});%>

<div>
  <form>
    <input 
    type="text"
    readonly
    value="<%=objeto.titulo%>"
    name="titulo"
    >
    <input 
    type="text" 
    name="contenido"
    readonly
    value="<%=objeto.contenido%>"
    size="75px"
    >
  </form>
</div>

<h3><a href="/notas">Volver</a></h3>


<%-include("partials/footer");%>